<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Admin
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Patients" asp-action="Index">patients</a></li>
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Doctors" asp-action="Index">Doctors</a></li>
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Appointments" asp-action="Index">Appointments</a></li>
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Departments" asp-action="Index">Departments</a></li>
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="DischargeSummaries" asp-action="Index">DischargeSummaries</a></li>
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="InsuranceProviders" asp-action="Index">InsuranceProviders</a></li>
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="PatientInsurances" asp-action="Index">PatientInsurances</a></li>
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Prescriptions" asp-action="Index">Prescriptions</a></li>
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="RoomAssignments" asp-action="Index">RoomAssignments</a></li>
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Surgeries" asp-action="Index">Surgeries</a></li>


    </ul>
</div>
